  :root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --third-color: #0f4c75;
  --fourth-color: #1b1c1d;
  --fifth-color: #3282b8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--secondary-color);
  font-size: 1.2rem;
  background: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
  font-weight: 200;
}

p {
  font-weight: 200;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
}

/* Main Container */
.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
}

/* Showcase Photo */
.section-photo {
  width: 100%;
  height: 400px;
  margin-bottom: 3rem;
  border-radius: 0.2rem;
  box-shadow: var(--primary-color) 5px 5px 8px;
}

.intro-photo {
  width: 100%;
  height: 450px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  box-shadow: var(--primary-color) 5px 5px 8px;
}


/* Showcase Button */
.container .btn {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--third-color);
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 100;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  text-align: center;
}

.active, .btn:hover {
  background-color: var(--fifth-color);
  color: white;
}

/* Navbar */
.navbar {
  font-size: 1.4rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 0 0 1rem;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
  font-size: 3rem;
  font-weight: 200;
  color: var(--secondary-color);
  letter-spacing: 0.5rem;
}

.navbar .nav {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}

.navbar .nav a {
  padding: 0 1rem;
}

.navbar .nav a:hover {
  padding: 0 1rem;
  color: var(--fifth-color);
}

/* Intro */
.intro img {
  margin-bottom: 0;
  margin-top: 0.5; 
}

/* Section A */
.section-a {
  margin: 2rem 0;
}

.section-a .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.section-a h1 {
  margin: 1rem 0 4rem 0;
  font-size: 2.2rem;
}

.section-a p {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 100;
  color: var(--secondary-color);
}

.section-a img {
  margin-bottom: 0;
  margin-top: 0;
}


/* Timeline */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: var(--third-color);
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 3px solid var(--third-color);
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--third-color);
  border-right: 0 solid var(--third-color);
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid var(--third-color);
  border-right: 0 solid var(--third-color);
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: var(--third-color);
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: var(--third-color);
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

/* Facilities */
.facilities-heading {
  display: block;
  text-align: center;
  margin: 2rem 0 3rem 0;
  padding: 1rem;
  background: var(--fourth-color);
  color: var(--secondary-color);
}

.facilities {
  margin: 3rem 1rem;
}


.facilities .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.facilities .container h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.facilities .container h2 {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 200;
}

/* Footer */
.section-footer {
  background: var(--fourth-color);
  color: var(--secondary-color);
  padding: 1rem;
  margin-top: 2rem;
}

.section-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-footer h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-footer h3 {
  margin-bottom: 0.7rem;
}

.section-footer a {
  line-height: 1rem;
  color: var(--secondary-color);
  letter-spacing: 0.5rem;
}

.section-footer a:hover {
  color: var(--third-color);
}

/* Tablet */
@media (max-width: 768px) {
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 2rem;
  }

  .section-a .container div:first-child {
    order: 2;
  }

  .section-a .container div:last-child {
    order: -1;
  }

  .section-a h1 {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
  }
  
  .section-a p {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--secondary-color);
  }
  

  .section-a img {
    width: 100%;
    margin: auto;
  }

  .facilities .container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 2rem;
  }

  .container .btn {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--third-color);
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 100;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    text-align: center;
  }

  .section-footer .container .btn-footer {
    margin-top: 5px;
    width: 125px;
    height: 36px;
  }
}

/* Mobile */
@media(max-width: 500px) {
  .navbar .container h1 {
    font-size: 2.7rem;
    align-items: center;
    justify-content: center;
  }

  .section-a h1 {
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
  }
  
  .section-a p {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--secondary-color);
  }

  .facilities .container img {
    height: 358px;
  }

  .facilities .container h1 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  
  .facilities .container h2 {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 200;
  }

  .facilities .container p {
    font-size: 1.1rem;
  } 

  .container .btn {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--third-color);
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 100;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    text-align: center;
  }

  .navbar .nav a {
    padding: 0 0.5rem;
    font-size: 1rem;
  }

  .section-footer .container {
    text-align: center;
  }

  .section-footer .container .btn-footer {
    margin-top: 5px;
    width: 125px;
    height: 36px;
  }
}

/* Animation */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

  @-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }

  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    
    @-webkit-keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 